<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label floating>{{ searchTerm }}</ion-label>
      <ion-input #inputSearch type="text" (keyup)="mySearch(inputSearch.value)"></ion-input>
  </ion-item>
  <p>
    <!-- <ion-badge *ngFor="let type of types" style="margin-right: 2px; margin-left: 2px;">{{ type }}</ion-badge> -->
    <button *ngFor="let type of types" ion-button small id="{{type}}" (click)="typeSelect(inputSearch.value, type)" color="light">{{type}}</button>
  </p>
  <ion-list>
    <ion-item *ngFor="let item of results" (swipe)="userSwipe($event, item.result.name, item.result.description)" (click)="fullDescription(item.result['@id'])">
    <!-- <ion-item *ngFor="let item of results"> -->
        <ion-thumbnail item-start>
        <img [src]="item.result?.image?.contentUrl"  (load)="loadCompleted()">
      </ion-thumbnail>
      <h2>{{item.result.name}}</h2>
      <p>{{item.result.description}}</p>
      <!-- <button (click)='mySearchNew(item.result.name)' ion-button round item-end>Next</button> -->
    </ion-item>
  </ion-list>
  <ion-item id="spinner"><ion-spinner name="dots"></ion-spinner></ion-item>
</ion-content>
